* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.bggg{
background-color: #000;
background: #000;
border-radius: 2px soild red;
}
.navvvv {
	position: absolute;
	top: 20px;
	right: 0px;
}
@media (max-width: 810px) {
	.navvvv {
		position: absolute;
		top: 20px;
		right: 0px;
		background: whitesmoke;
		border: 1px solid  #9803FA !important;
		border-radius:10px ;
		z-index: 1;
		height: 200px;
		width: 100%;
		padding-top: 3%;
		
	}
}

@media (min-width: 470px) and (max-width: 600px){
	.navbar-button{
		position: relative;
		left: 40px;
		max-width: 180px;
	}
}

@media (min-width: 360px) and (max-width: 475px){
	.navbar-button{
		position: relative;
		left: 10px;
		max-width: 150px;
		margin-left: 20%;
		margin-right: 20%;
	}
}
.navbar-image {
	position: relative;
	right: -10%;
}

.navbar-button {
	width: 162px;
	height: 36px;
	flex-shrink: 0;
	border-radius: 4px;
	border: 1px solid #9803FA;
	background: white;
	margin-left: 2%;
	display: grid;
	place-items: center;
	margin-right: 60px;
}

.navbar-button:hover,
.navbar-button:focus-visible {
	background: #9803FA;
	color: black !important;
}
.navbar-button-text:hover,
.navbar-button-text:focus-visible {
	background: #9803FA;
	color: white  !important;
}
.navbar-button :hover {
	color: white;
}

.navbar-main {
	margin: 10px;
}

.hover-line:hover {
	color: #630078 !important;
}

.navbar-button-text {

	color: #9803FA !important;
	font-family: Roboto;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	width: 136px;
	line-height: normal;
	position: relative;
	top: -15%;
}

.hover-line {
	color: red;
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	margin-right: 10px;
	font-weight: 400;
	line-height: normal;
	margin-right: 5px;
}

@media (max-width: 810px) {
	
	.navvvv{
		position: relative;
		right: -50%;
		
		width: 50%;
	}
	.navbar-button{
		position: relative;
		right: -25%;
		
	}
	
}

@media (max-width: 600px) {
	
	.navvvv{
		position: relative;
		right: -50%;
		
		width: 50%;
	}
	.navbar-button{
		position: relative;
		right: 5%;
		
	}
	
}




 */





/* Signupseller */


.main-div-left {
	padding-left: 10%;
	border: 2px solid red;
}

.signup-text {
	margin-bottom: 20%;
	padding-left: 20%;
}

.signup-text h1 {
	color: #3F0065;
	font-family: Gothic A1;
	font-size: 45px;
	font-style: normal;
	font-weight: 600;
	line-height: 113.687%;
	text-align: left;
	
}

.signup-text p {
	color: #58006B;
	font-family: Roboto;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 126.688%;
	/* 19.003px */
	text-align: left;
}

.signup-image {
	display: flex;

	margin-top: 10%;
	margin-left: 19%;
	



}

.signup-image img {
	width: 217.897px;
	height: 227px;
	flex-shrink: 0;
}

.signup-image p {
	color: #6D0085;
	font-family: Roboto;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	display: grid;
	place-items: center;
	text-align: center;
	text-align: left;
}



.main-div-right {
	width: 98%;
	height: 105%;
	max-width: 583px;
	
	flex-shrink: 0;
	border-radius: 10px;
	background: #FFF;
	box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.25);

	margin: 0px;
}

.main-form-css {
	display: flex;
	flex-direction: row;
	gap: 5%;
	margin-left: 5%;

	margin-top: 5%;
}

.form-css {
	display: flex;
	flex-direction: column;
}

.main-div-right h1 {
	color: #58006B;
	font-family: Zen Dots;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: 102.5%;
	/* 25.625px */
	letter-spacing: 0.25px;
	padding-top: 10%;
}

.form-css label {
	color: #780093;
	font-family: Roboto;
	font-size: 17px;
	font-style: normal;
	font-weight: 500;
	margin-bottom: 4%;
	line-height: normal;
	text-align: left;
}

.form-css input {
	width: 93%;
	min-width: 190px;
	min-height: 51px;
	height: 51px;
	flex-shrink: 0;
	
	border-radius: 5px;
border: 1px solid #D3D3D3;

}
@media (min-width: 992px) {
	.signupsellerform-css{
		min-width: 200px;
		
		width: 98%;
	}


}

@media (min-width: 610px) and (max-width: 992px) {
	.signupsellerform-css input{
		min-width: 250px;
		
		width: 100%;
	}.signupsellerform-csss input{
		width: 140%;
		min-width: 530px;
	}

}
.main-form-css-block {
	display: flex;
	flex-direction: column;
	gap: 15%;
	margin-left: 5%;
	margin-top: 5%;
}

.form-css-block {
	display: flex;
	flex-direction: column;
}

.form-css-block input {
	width: 96%;
	height: 51px;
	flex-shrink: 0;
	border-radius: 5px;
    border: 1px solid #D3D3D3;
}

.bb {
	margin-top: 5%;

}

.form-css-block label {
	color: #780093;
	font-family: Roboto;
	font-size: 17px;
	margin-bottom: 3%;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-align: left;
}

.main-div-right-button {
	min-width: 270px;
	max-width: 300px;
	width: 70%;
height: 45px;

	margin-top: 10%;
	flex-shrink: 0;
	border: 1px solid #3F0065;
	border-radius: 6px;
	background: #3F0065;
}

.main-div-right-button a {
	color: #FFF;
	font-family: Poppins;
	font-size: 13px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-decoration: none;
}
.line-div{
	display: flex;

	flex-direction: row;
	
	margin-top: 10%;
}
.line {
	background: #BDBDBD;
	width: 50%;
	height: 2px;
	
	margin-left: 8%;
	
}
.line2 {
	background: #BDBDBD;
	width: 50%;
	height: 2px;
	
	margin-right: 8%;
	
}
.line-div p{
	color: rgb(189, 189, 189);
  font-family: Roboto;
  font-size: 0.8125rem;
  
  font-weight: 400;
  margin-top: 1%;
  
}

.main-div-right-text {
	color: #737373;
	font-family: Roboto;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: 3%;
}

.main-div-right-image img {
	
	margin-top: 5%;
	gap: 10%;
	padding-left: 30px;
	width: 60px;
height: 60px;
flex-shrink: 0;
}

@media (max-width: 992px) {
	.main-div-left {
		display: none;
	}

}
@media (max-width: 610px) {

	.main-form-css {
		display: flex;
		flex-direction: column;
	}
}

@media (max-width: 768px) {
	
	.main-div-right {
		height: 101%;
		padding-right: 2%;
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	.main-div-right {
		width: 98%;
		padding-top: 0px;
		margin-top: 0px;
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

@media (min-width: 610px) and (max-width: 992px) {
	.main-div-right {

		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 105%;
	}.form-css-block input{
		width: 88%;
	}
}






/* footer */





.footer p {
	color: #000;
	font-family: Roboto;
	font-size: 12px;
	font-style: normal;
	font-weight: 300;
	text-align: left;
	line-height: 15px;
	/* 125% */
	letter-spacing: 1.32px;
	padding-left: 3%;
}

.footer {
	display: flex;
	flex-direction: column;



}

.footer a {
	color: #000;
	font-family: Roboto;
	font-size: 13px;
	font-style: normal;
	font-weight: 300;
	line-height: 15px;
	/* 115.385% */
	text-align: left;
	padding-top: 5%;
	width: 138.25px;
	height: 30.444px;
	flex-shrink: 0;
	text-decoration: none;
	

}

.footer a:hover {
	color: #9803FA;
}




.firstfooter img {
	margin-bottom: 5%;
}

@media (min-width: 992px) {
	.footer1 {
		position: relative;
		right: -30%;
	}

}

.footer img {

	width: 242px;
	height: 59px;



	flex-shrink: 0;
}

.footer a:first-child {
	color: #000;
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 1px;
	/* 115.385% */
	width: 82.703px;
	flex-shrink: 0;
	margin-bottom: 5%;
}

.main-footer {


	margin-top: 10%;
}


@media (max-width: 992px) {
	.firstfooter {
		display: none;

	}

}




@media (min-width: 992px) {
	.footerimage img {
		display: none;

	}
	.firstfooter{
		position: relative;
		right: 20%;
		
	}
	.lastfooter1{
		display: grid;
		place-content: end;
		
	}.lastfooter2{
		display: grid;
		place-content: center;
		
	}.lastfooter{
		
		display: grid;
		place-content: start;
	}
}

@media (max-width: 992px) {
	.footerimage {
		margin-bottom: 7%;
		
	}
	

}

/* @media (max-width: 600px) {
	.footer a:first-child {

		margin-top: 10%;

	}
} */

/* @media (max-width: 600px) {
	.footer a {

		
		position: relative;
		left: 35%;


	}
} */
@media (min-width: 770px) and (max-width: 992px) {
.main-footer{
	margin-left: 8%;
}.footerimage img {
	margin-right: 20%;
}
}
@media (min-width: 390px) and (max-width: 769px) {
	.footerimage img {
		margin-right: 5%;
	}
	}

@media (min-width: 200px) and (max-width: 389px) {
.footerimage img {
			margin-right: 90%;
		}
		}
@media (min-width: 992px) {
.firstfooter{
	margin-left: 20%;
}
}
@media (min-width: 390px) and (max-width: 576px) {
	.main-footer{
		display: flex;
		flex-direction: row;
		object-fit: cover;
		
		margin-left: 5%;
		margin-right: 5%;
	}.first1{
		flex: 1;
		
		width: 50px;
		padding-left: 0%;
		
	}
	.first2{
		flex: 1;
		
		width: 50px;
		padding-left: 0%;
	}
	.first3{
		flex: 1;
		
		width: 50px;
		
		object-fit: cover;
		padding-left: 0%;
	
	}
	}


	@media (max-width: 390px) {
		.main-footer{
			display: flex;
			flex-direction: row;
			object-fit: cover;
			
			margin-left: 5%;
			margin-right: 5%;
		}.first1{
			flex: 1;
			
			width: 50px;
			padding-left: 0%;
			width: fit-content;
		}
		.first2{
			flex: 1;
			width: fit-content;
			width: 50px;
			padding-left: 0%;
		}
		.first3{
			flex: 1;
			
			width: 50px;
			
			width: fit-content;
			padding-left: 0%;
		
		}
		}


.bottom-footers {
	
	background: #630078;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	width: 100%;
	height: 63px;
	padding-top: 2%;
	margin-top: 5%;
	flex-shrink: 0;
	
}


.bottom-footer p {
	color: #FFF;
	font-family: Roboto;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	justify-content: center;
	line-height: 15px;
	/* 115.385% */
	width: 159.234px;
	height: 18.444px;
	flex-shrink: 0;


	float: left;
}

.bottom-footer img {
	width: 102px;
	float: right;
	height: 30px;
	flex-shrink: 0;
	margin-right: 3%;


}






@media (max-width: 810px) {

	

	


}


@media (max-width: 600px) {


	.bottom-footer p {
		margin-top: 3%;
	}

}


/*login*/



.login-height {
	height: 100%;

}

.main-form-csss {
	display: flex;
	flex-direction: row;
	gap: 17%;
	margin-left: 5%;
	
	margin-top: 5%;
}

.form-csss {
	display: flex;
	flex-direction: column;
}

.main-div-right h1 {
	color: #58006B;
	font-family: Zen Dots;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: 102.5%;
	/* 25.625px */
	letter-spacing: 0.25px;
	padding-top: 10%;
}

.form-csss label {
	color: #780093;
	font-family: Roboto;
	font-size: 17px;
	font-style: normal;
	font-weight: 500;
	margin-bottom: 4%;
	line-height: normal;
	text-align: left;
}

.form-csss input {
	width: 100%;
	height: 51px;
	
	flex-shrink: 0;
	
	border-radius: 5px;
border: 1px solid #D3D3D3;
}








@media (max-width: 992px) {
	.signupsellerform-cssss{
		min-width: 200px;
		
		width: 80%;
		margin-left: 9%;
	}


}
@media (min-width: 991px) {
	.signupsellerform-cssss{
		min-width: 200px;
		
		width: 80%;
		margin-left: 9%;
	}


}

@media (min-width: 360px) and (max-width: 400px) {

	.loginn{
		margin-left: 5%;
	}
}/*
@media (max-width: 600px){
	
.main-form-csss {
	display: flex;
	flex-direction: row;
	gap: 17%;
	margin-left: 5%;
	padding-left: 14%;
	margin-top: 5%;
}
.login-height h1{
	margin-right: 15px;
}
.form-csss{
	padding-left: 6%;
}
.loginn{
	margin-left: 5%;
}
}
@media (max-width: 474px){
	.loginn{
		margin-left: 15%;
	}
}

@media (min-width: 992px) {
.login-height{
	height: 80%;
}

}

@media (min-width: 650px) and (max-width: 992px) {

	.form-csss input{
		width: 100%;
		min-width: 320px;
	}
	.loginn{
		min-width: 320px;
		margin-left: 30px;
	}
} */

/* signupone */





.signup-images{
	display: flex;
	
	margin-top: 10%;
	margin-bottom: 20%;
	margin-left: 13%;



}
.signup-height input{
	width: 95%;
	gap: 5%;
}
.signup-images img{
	width: 500px;
height: 462px;
flex-shrink: 0;
}

.signup-images p{
	color: #6D0085;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
display: grid;
	place-items: center;
text-align: center;
text-align: left;
}



.signupone{
	margin-top: 5%;
	
}


.signup-height{
	height: 100%;
	width: 100%;
	
	
}



@media (min-width: 992px) {
	.email-css input{
		width: 100%;
		
	}
	}








				/* SIGNUP */


.mainnn{
	display: grid;
	place-items: center;
}
.main-buyerseller{

  padding: 4%;
  min-width: 350px;
  max-width: 850px;
  
border: 1px solid #B9B9B9;
box-shadow: 0px 0px 4px 1px #D4D4D4;
width: 60%;
height: 770px;
flex-shrink: 0;	
border-radius: 21px;
margin-top: 2%;
}
.main-buyerseller h1{
	color: #6D0085;
text-align: center;
font-family: Roboto;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: normal;
/* padding-left: 10%;
padding-right: 10%; */

padding-top: 5%;

margin-bottom: 8%;

}
.main-buyerseller h3{
	color: #9D33B4;
font-family: Roboto;
font-size: 24px;


font-style: normal;
text-align: left;
font-weight: 500;

line-height: normal;
}
.main-buyerseller p{
	color: #676767;
font-family: Roboto;
font-size: 16px;
font-style: normal;
text-align: left;
font-weight: 400;
line-height: normal;
}

.main-buyerseller-button{
	border-radius: 11px;
border: 1px solid #9600AF;
margin-bottom: 5%;
/* 
width: 75%;

height: 90px; */
flex-shrink: 0;
text-align: center;
width: 430px;
height: 100px;
flex-shrink: 0;

background: white;
}
.arrowcss{
	width: 22px;
height: 26px;
fill: #BA68C8;
stroke-width: 1px;
stroke: #9600AF;
margin-top: 3%;
margin-right: 6%;
flex-shrink: 0;

}

.firstbutton{
	width: 49px;
height: 39px;
fill: #BA68C8;
flex-shrink: 0;
margin-top: 2%;
margin-right: 2%;
}

.main-buyerseller-button a{
	color: #9600AF;
font-family: Roboto;
font-size: 22px;
font-style: normal;
text-decoration: none;
font-weight: 500;
line-height: normal;
}

.butoon-vsss{
	display: flex;
	flex-direction: column;
	padding-left: 18%;
	
	
}

.butoon-css{
	display: flex;
	flex-direction: row;
	gap: 7%;
	padding-left: 7%;
	padding-right: 7%;

}
.bottom-button p{
	text-align: center;
}
.butoon-css a{
	text-align: left;
}


.bottom-button button{
	border-radius: 34px;
background: #ABABAB;
width: 288px;
height: 59px;
border: 1px solid #ABABAB;
flex-shrink: 0;margin-top: 5%;
}

.bottom-button button a{
	color: #FFF;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;

line-height: normal;
text-decoration: none;
}
.bottom-button p{
	color: #797979;
font-family: Roboto;
font-size: 20px;
font-style: normal;
margin-top: 5%;
font-weight: 400;
line-height: normal;
}
.main-buyerseller-button img{
	fill: white;
}

@media (max-width: 992px) {
	.main-buyerseller{
		width: 80%;
		
	}
.main-buyerseller h1{
	font-size: 24px;
}
.butoon-vsss h3{
	font-size: 20px;
}
.butoon-css a{
	font-size: 16px;
}
.main-buyerseller-button{
	width: 100%;
	max-width: 430px;
	gap: 5%;

}
.arrowcss{
	margin-top: 3%;
	margin-right: 0px;
}
.firstbutton{
	margin: 0px;
}
.bottom-button button{
	margin-left: 10%;
	width: 60%;
	height: 40px;
}
.bottom-button p{
	margin-left: 10%;
}
}


@media (max-width: 600px) {
	
.main-buyerseller{
	height: 100%;
	
	
}
.main-buyerseller-button{
	margin-right: 10%;
	width: 100%;
	height: 80px;
}
.butoon-vsss{
	padding-left: 5%;
	
}.main-buyerseller h3{
	margin-top: 15%;
}
.bottom-button button{
	margin-left: 10%;
	width: 70%;
	height: 40px;
	margin-top: 15%;
}
}

.bottom-buuton-login{
color:#9600AF;
text-decoration: none;
}